*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(/images/TR-tr-20220801-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    /* background-color: rgba(15, 14, 14, 0.993); */
   
}


.header{
    
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    padding-left: 40%;
    /* margin: 100px; */
    font-size:50px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}


.header1{
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    padding-left: 30%;
    /* margin: 100px; */
    font-size:30px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.div1{
    /* border: 5px solid red; */
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    display :block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top :500px;
    padding-bottom :400px;
    padding-top: 50px;
    /* text-align: center; */
    /* line-height: 1rem;     */
    height: 800px;
    margin: 200px 700px;
    padding: 10px;
     width: 600px;
    margin: auto;
    /* text-align: center; */
}

.div2{
    padding: 140px;
    width: 500px;
    /* margin: auto; */
    height: 300px;
    margin-top :30px;
    padding-bottom :10px;
    padding-top: 0px;
    /* text-align: center; */
}


#name{
    border: 1px solid rgba(0, 0, 0, 0.548);
    height: 35px;
    width: 250px;
    border-radius: 5px;
    
}
#lname{
    border: 1px solid rgba(0, 0, 0, 0.548);
    height: 35px;
    width: 250px;
    border-radius: 5px;
}
#mail{
    border: 1px solid rgba(0, 0, 0, 0.548);
    height: 35px;
    width: 250px;
    border-radius: 5px;
}
#pword{
    border: 1px solid rgba(0, 0, 0, 0.548);
    height: 35px;
    width: 250px;
    border-radius: 5px;
    
}
#send{
    border: 1px solid rgba(0, 0, 0, 0.548);
    height: 35px;
    width: 250px;
    text-align: center;
    background-color: red;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 80px;
}

#feedb{
    border-radius: 5px;
}

#span{
    color: red;
}